body {
  background: #0FA257;
  text-align: center;
}

table {
  width: auto;
}

.header {
  margin-bottom:  10px;
}

#template {
  display: none;
}

.complete {
  background: #AFADAD;
  opacity: 0.5;
}
